.index h1 {
    font-family: 'Arial', sans-serif;
    /* Utiliza una fuente sans-serif */
    font-size: 2.5em;
    /* Ajusta el tamaño de la fuente */
    color: #333;
    /* Color oscuro para el texto */
    text-align: center;
    /* Centra el texto */
    margin-top: 20px;
    /* Espacio en la parte superior */
    margin-bottom: 20px;
    /* Espacio en la parte inferior */
    text-transform: uppercase;
    /* Texto en mayúsculas */
    letter-spacing: 2px;
    /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil para un efecto 3D */
}

.title-container {
    position: relative;
    display: inline-block;
    padding: 20px;
    margin: center;
    overflow: hidden;
    border-radius: 10px;
    /* Bordes redondeados */
}

.title-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(169, 169, 169, 0.7);
    /* Fondo gris semi-transparente */
    backdrop-filter: blur(10px);
    /* Efecto difuso */
    z-index: -1;
    /* Sitúa el pseudo-elemento detrás del texto */
}

.index a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #008CBA;
    /* Color de fondo azul */
    text-decoration: none;
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s;
    /* Transición suave */
}

.index a:hover {
    background-color: #005f5f;
    /* Color de fondo más oscuro al pasar el ratón */
}

/* GENERAL */

/* Estilo para el h1 */
h1 {
    color: #333;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}


/* Estilo general para las tablas */

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f0f0f0;
}

thead th {
    padding: 10px;
    border-bottom: 2px solid #ccc;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tbody tr:hover {
    background-color: #f9f9f9;
}



/* biblioteca.php */

.ok_borrado {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #28a745;
    /* Color verde para el borde */
    background-color: #d4edda;
    /* Color verde claro para el fondo */
    color: #155724;
    /* Color verde oscuro para el texto */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* Estilos enlaces*/
.ir-a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.ir-a a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.ir-a:hover {
    background-color: #45a049;
}

.ir-a a:hover {
    color: white;
}


.volver a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.volver a:hover {
    background-color: #3498db;
    color: #000000;
}



/* Estilo para mensajes de error */
.error {
    background-color: #ffebee;
    /* fondo rojo claro */
    border: 1px solid #f44336;
    /* borde rojo */
    color: #f44336;
    /* texto rojo */
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    /* bordes redondeados */
    width: auto;
}

/* Estilo para mensajes de éxito */
.exitos {
    background-color: #e8f5e9;
    /* fondo verde claro */
    border: 1px solid #4caf50;
    /* borde verde */
    color: #4caf50;
    /* texto verde */
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    /* bordes redondeados */
    width: auto;
}


/*  crea_libro.php */

/* Contenedor del formulario */
.crea-formulario {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Etiquetas del formulario */
.crea-formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Campos de entrada del formulario */
.crea-formulario input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botón de envío del formulario */
.crea-formulario button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.crea-formulario button:hover {
    background-color: #45a049;
}

/* Estilo para el elemento select del formulario */
.crea-formulario select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Estilo para las opciones dentro del select */
.crea-formulario select option {
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


/*  crea_categoria.php */

/* Contenedor del formulario */
.crea-categoria {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Etiquetas del formulario */
.crea-categoria label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Campos de entrada del formulario */
.crea-categoria input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botón de envío del formulario */
.crea-categoria button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.crea-categoria button:hover {
    background-color: #45a049;
}

.lista-categorias {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista-categorias h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.lista-categorias ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.lista-categorias li {
    background-color: #fff;
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/*  crea_prestamo.php */

/* Para las etiquetas de los formularios */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Para los campos de selección de los formularios */
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Para las opciones dentro de los campos de selección */
select option {
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Para los botones de los formularios */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Para los títulos h2 */
h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Para los parágrafos p */
p {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Para el contenedor de tu formulario */
.formulario-contenedor {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* TIENDA - CARRITO DE LA COMPRA */

/* Botones Añadir al carrito */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para el carrito de compras */
.carrito-section {
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.carrito-section h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.total {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

.carrito-titulo {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* LOGIN.PHP */

.login-formulario {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-formulario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-formulario button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-formulario button:hover {
    background-color: #45a049;
}
